[user]
	email = tabletenniser@gmail.com
	name = tabletenniser
[core]
	editor = vim
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
